.button-wrapper {
  align-self: flex-end;
  height: 32px;

  &--full {
    width: 100%;
  }

  &--medium {
    width: 111px;
  }

  &--big {
    width: 120px;
  }

  &--icon {
    width: fit-content;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    
    &--primary {
      background-color: #7695EC;
      color: #FFFFFF;
  
      &:hover {
        background-color: #5d7dda;
      }
  
      &:active {
        background-color: #3b5998;
      }
    }
    
    &--danger {
      background-color: #FF5151;
      color: #FFFFFF;
  
      &:hover {
        background-color: #cf2c2c;
      }
  
      &:active {
        background-color: #b13a3a;
      }
    }
  
    &--success {
      background-color: #47B960;
      color: #FFFFFF;
  
      &:hover {
        background-color: #47ac5d;
      }
  
      &:active {
        background-color: #3e9b52;
      }
    }
  
    &--neutral-1 {
      background-color: white;
      border: 1px solid #999999;
      color: #000000;
  
      &:hover {
        background-color: #f7f7f7;
      }
  
      &:active {
        background-color: #ebebeb;
      }
    }
  
    &--neutral-2 {
      background-color: gray;
      color: #FFFFFF;
  
      &:hover {
        background-color: #a0a0a0;
      }
  
      &:active {
        background-color: #7a7a7a;
      }
    }

    &--neutral-3 {
      background-color: none;
      color: #AAAAAA;
      font-weight: 400;
  
      &:hover {
        background-color: #f7f7f7;
      }
  
      &:active {
        background-color: #ebebeb;
      }
    }

    &--icon {
      &:hover {
        filter: invert(15%)
      }
  
      &:active {
        filter: invert(25%)
      }
    }
  }
}