.card-container {
  min-width: 320px;
  width: 100%;
  max-width: 500px;
}

.card-body {
  background-color: #FFFFFF;
  padding: 1.5rem;
  border: 1px solid #CCCCCC;
  border-radius: 1rem;

  &--hasHeader {
    border-radius: 0 0 1rem 1rem;
  }

  width: 100%;
  min-width: 320px;
  min-height: 205px;
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    min-width: 500px;
  }
}