.card-container {
  min-width: 320px;
  width: 100%; /* alterado para 100% */
  max-width: 500px; /* adicionado max-width */
}

.card-body {
  background-color: #FFFFFF;
  padding: 1.5rem;
  border: 1px solid #CCCCCC;
  border-radius: 1rem;

  &--hasHeader {
    border-radius: 0 0 1rem 1rem;
  }

  width: 100%; /* alterado para 100% */
  min-width: 320px; /* alterado para 320px */
  min-height: 205px;
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    min-width: 500px; /* alterado para 500px */
  }
}

.card-header {
  width: 100%;
  height: 70px;
  border-radius: 1rem 1rem 0 0;

  left: -1.5rem;
  top: -1.5rem;
  background-color: #7695EC;
  color: #FFFFFF;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.card-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-content {
  width: 100%;
  font-size: 1rem;
  flex-grow: 1; /* adicionado flex-grow */
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer button {
  width: 40%;
  font-size: 1rem;
}
