* {
  font-family: "Roboto";
}

.text_area-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  .label-container {
    display: flex;
    justify-content: space-between;
  }

  .error-span {
    color: #FF0000;
    font-size: .9rem;
  }

  .text_area-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .text_area {
    color: #000000;
    padding: 8px 11.2px;
    border-radius: .5rem;
    height: 2rem;
    
    overflow-wrap: break-word;

    &--medium {
      height: 74px;
    }

    &--neutral {
      border: 1px solid #777777;
    }

    &--danger {
      border: 1px solid #FF0000;
      // color: #FF0000;
    }

    &:focus {
      outline: none;
      border: 1px solid #555555;
    }

    &::placeholder {
      color: #CCCCCC;
      position: absolute;
      top: 8px;
      left: 11.2px;
    }
  }
}