.nav-bar-container {
  font-size: .9rem;

  .separator {
    left: 0;
    border-bottom: 1px solid black;
    width: 100%;
  }

  .options-container {
    display: flex;
    flex-direction: column;

    li {
      margin: 1rem 2rem;
    }

    #logout-button {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .user-options {
      display: flex;
      flex-direction: column;
    }
  }
}